<app-header title="Tareas"></app-header>

<ion-content [fullscreen]="true" class="home-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="home-shell">
    @switch (activeTab) {
      @case ('hoy') {
        <app-today></app-today>
      }
      @case ('completadas') {
        <app-completed></app-completed>
      }
      @case ('categorias') {
        <app-categories></app-categories>
      }
    }
  </div>
</ion-content>

<app-footer
  [activeTab]="activeTab"
  (tabChange)="onTabChange($event)"
></app-footer>
